* {
  box-sizing: border-box;
}


/* Start here */

body {
background-color: black;
color: red;
}

.date {
  color: red;
  position: absolute;
  right: 10px;
  left: 0px;
}

  .message {
    font-family: arial;
    font-size: 40px;
    color: red;
    position: absolute;
    top: 200px;
    right: 10px;
    width: 800px;
  }

  .message img{
    max-width: 100%;
  }

  .name {
    position: absolute;
    top: 20px;
    left: 500px;
  }

  .clocks {
    font-family: arial;
    font-size: 40px;
    color: red;
    position: absolute;
    top: 200px;
    left: 20px;
  }

  .clock {
    display: block;
  }

  .live{
    display: none;
    position: absolute;
    top: 20px;
    left:20px;
  }

  .content {
    display: none;
  }
